body{
    margin: 0;
    width: 100%;
}

ul{
    background-color: blue;
    display: flex;
    width: 100%;
    height: 10vh;
    font-size: 20px;
    padding: 0;
    margin: 0;
    li{
        list-style: none;
        text-align: center;
        flex-grow: 1;
        transition: background 400ms linear, color 400ms ease;
        a{
            color: yellow;
            font-weight: bold;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
    li:hover{
        background: yellow;
        a{
            color: blue;
        }
    }
}

.video-box,
.rest-box,
.store-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    width: 98%;
    margin: 0 auto;
    padding: 1rem 0;
    gap: 1.5rem;
    > * {
        border-radius: 1rem;
        box-shadow: 0 5px 10px gray;

    }
    video {
        width: 100%;
    }

    :not(video){
        padding: .5rem;
    }
}

.video-box {
    video {
        width: 100%;
    }

    :not(video) {
        padding: .5rem;
    }
}

.rest-box,
.store-box {
    img {
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;
        height: 20rem;

    }

    :not(img) {
        padding: .5rem;
    }
}

.badge {
    margin: .2rem;
}