body {
  margin: 0;
  width: 100%;
}

ul {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: background 400ms linear, color 400ms ease;
  transition: background 400ms linear, color 400ms ease;
}
ul li a {
  color: yellow;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
ul li:hover {
  background: yellow;
}
ul li:hover a {
  color: blue;
}

.video-box,
.rest-box,
.store-box {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  width: 98%;
  margin: 0 auto;
  padding: 1rem 0;
  gap: 1.5rem;
}
.video-box > *,
.rest-box > *,
.store-box > * {
  border-radius: 1rem;
  -webkit-box-shadow: 0 5px 10px gray;
          box-shadow: 0 5px 10px gray;
}
.video-box video,
.rest-box video,
.store-box video {
  width: 100%;
}
.video-box :not(video),
.rest-box :not(video),
.store-box :not(video) {
  padding: 0.5rem;
}

.video-box video {
  width: 100%;
}
.video-box :not(video) {
  padding: 0.5rem;
}

.rest-box img,
.store-box img {
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
}
.rest-box :not(img),
.store-box :not(img) {
  padding: 0.5rem;
}

.badge {
  margin: 0.2rem;
}